<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m %n" />-->
            <PatternLayout pattern="%m %n"/>
        </Console>

        <File name="FILE" fileName="${basePath}/Server.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m %n"/>
        </File>
    </Appenders>


    <Loggers>
        <Root level="debug">
<!--        <Root level="info">-->
<!--        <Root level="debug">-->
<!--        <Root level="trace">-->
            <AppenderRef ref="STDOUT" level="debug"/>
            <AppenderRef ref="FILE" level="error"/>
        </Root>

        <Logger name="io.netty" level="error"/>
    </Loggers>

</Configuration>

